@import '../../core/scss/variables';

$icon-button-size: 30px;

.button {
    border: none;
    border-radius: $button-border-radius;
    color: $black;
    height: 42px;
    width: 160px;

    &.primary-button {
        background-color: $orange;
        font-weight: bold;
    }

    &.icon-button {
        background-color: $gray;
        border-radius: 50%;
        font-size: 12px;
        height: $icon-button-size;
        padding: 0;
        width: $icon-button-size;
    }
}
