@import "../../core/scss/variables";

.weather-detail-container {
	padding-top: 40px;

	.detail-header-main {
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	.weather-detail-header {
		display: flex;
		justify-content: center;

		.header-city-name {
			font-size: 40px;
			font-weight: bold;
		}

		.header-province-name {
			margin-top: 10px;
		}

		.city-map-link {
			color: $white;
			font-size: 0.8rem;
			margin-top: 8px;
		}
	}

	.detail-back-button-container {
		position: absolute;
		bottom: 10px;
		left: 10px;
	}

	.header-weather-description {
		margin-top: 20px;

		.description-condition {
			font-size: 30px;
		}

		.header-description-icon-class {
			font-size: 70px;
			margin-top: 40px;
			text-align: center;
		}
	}

	.detail-info-card-row {
		display: flex;
		justify-content: space-around;
		margin-top: 25px;
	}

	.forecast-carousel-container {
		margin-top: 30px;

		.slick-slide {
			border: 1px solid red;
		}
	}
}