@import "../../core/scss/variables";

.weather-detail-container {
	padding-top: 40px;

	.detail-header-main {
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	.weather-detail-header {
		display: flex;
		justify-content: space-between;

		.header-city-name {
			font-size: 1.8rem;
		}

		.header-province-name {
			margin-top: 10px;
		}

		.city-map-link {
			color: $white;
			font-size: 0.8rem;
			margin-top: 8px;
		}
	}
}