@import "../../core/scss/variables";

.info-card {
	// variants
	&.large {
		.info-card-header {
			color: $gray;
			font-size: 11px;
			text-transform: uppercase;
		}

		.info-card-details {
			font-size: 50px;
			margin-top: 10px;
		}

		.info-card-description-unit {
			font-size: 25px;
		}
	}
}