@import "../../core/scss/variables";

.info-card {
	.info-card-header {
		font-size: 11px;
		text-transform: uppercase;
	}

	.info-card-details {
		font-size: 50px;
		margin-top: 10px;
	}

	.info-card-description-unit {
		font-size: 25px;
	}
}