@import 'core/variables.scss';

.app-container {
    background: -webkit-linear-gradient(to top, $gradient-from, $gradient-to);
    background: linear-gradient(to top, $gradient-from, $gradient-to);
    color: $white;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    letter-spacing: 0.6px;
    padding-left: 20px;
    padding-right: 20px;
}
