// mono colors
$black: #000;
$orange: #FFA500;
$white: #fff;
$spring-green: #00FF7F;
$khaki: #F0E68C;
$gray: #808080;

// others
$button-border-radius: 15px;
$gradient-from: #243B55;
$gradient-to: #141E30;

// breakpoints
$desktop: 720px;
