@import '../../core/scss/variables';

.dashboard-container {
	padding-top: 40px;

	.dashboard-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	.dashboard-header-right-content {
		display: flex;
		align-items: baseline;
	}
}