@import '../../core/variables.scss';
@import '../Setup.scss';

.setup-step-one-container {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    text-align: center;

    // top block content start
    .setup-step-one-top {
        @include animated(0s);
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        .step-one-top-content-one {
            font-size: 1.5rem;
            margin-bottom: 15px;
        }
    }

    // middle block content start
    .setup-step-one-middle {
        @include animated(2.1s);
        margin-bottom: 50px;

        .step-one-middle-content-two {
            height: 300px;
        }
    }

    // bottom content block started
    .setup-step-one-bottom {
        @include animated(4.1s);
    }
}
